body{
	background-color: #212121;
	font-family: 'Roboto', sans-serif;
}
#calcbox{
	height: 400px;
	width: 300px;
	background-color: #616161;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	border-radius: 5px;
	position: relative;
}
#displaynumbers{
	width: 300px;
	height: 75px;
	background-color: white;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	border-bottom: 5px solid black;
	position: relative;
}
#userinput{
	font-size: 50px;
	float: right;
	margin-top: 20px;
	margin-right: 5px;
	margin-left: 5px;
	text-align: right;
	/*makes the div scrollable and keeps 
	all values inside of the div!!!!*/
	width: 300px;
	height: 55px;
	overflow-x: auto;
}
#math{
	width: 75px;
	height: 320px;
	float: right;
	margin-top: 80px;
	margin-left: 225px;
	background-color: #80cbc4;
	border-bottom-right-radius: 5px;
	position: absolute;
}
#numbers{
	padding-top: 70px;
	color: white;
	font-size: 50px;
	padding-bottom: 0px;
	width: 220px;
	border-spacing: 20px;
	position: absolute;
}
#operators{
	font-size: 35px;
	border-spacing: 20px;
	margin-left: -7px;
	margin-top: -2px;
	color: white;
}
#delete{
	font-size: 25px;
}
footer{
	color: white;
	margin-top: 20px;
}
a{
	text-decoration: none;
	color: white;
}